.page-body{
    margin-top: 2vh;
    height:85vh;
    width:95vw;
    background: linear-gradient(rgba(220,220,255,0.4) 85%, rgba(255,255,255,0.5) 100%);
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}

.home-screen{
    display: flex;
    margin-top: 1.5vh;
    width: 100;
    height: 87vh;
    /* border: white 2px solid ; */
}

.home-inputs{
    padding:6px;
    margin-bottom: 2vh;
}

.file-button{
    height: 6vh;
    width: 18vw;
    margin-bottom: 2vh;
}

.home-post-area{
    margin: 1vh;
    height: 100;
    width: 70.5vw;
    border: white 2px solid;
}

.home-share-area{
    margin: 1vh;
    border: white 2px solid;
    height: 73vh;
    width: 27vw;
    border-radius: 5px;
}

.post-title{
    height: 6vh;
    width: 18vw;
    border-radius: 5px;
}

.post-description{
    height: 25vh;
    width: 18vw;
    border-radius: 5px;
}

.form-adjust{
    background: none;
    border: none;
}